@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
  --main-font-family: 'Poiret One', sans-serif;
  --linear-gradient: linear-gradient(45deg, pink, purple, blue);
}

.footer-gradient {
  background: -webkit-linear-gradient(
    50.1deg,
    rgb(224, 224, 234),
    #f49867,
    #ae67fa,
    #f49867
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer-box {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer {
  color: white;
  margin: 0;
  text-align: center;
  width: 100vw;
  height: 5vh;
  background-color: black;
  font-family: var(--main-font-family);
  font-size: 20px;
  padding-bottom: 1px;
}
